* {
  margin: 0;
  padding: 0;
}

nav {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 2rem 0;
}

div:has(.title) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  display: flex;
}
.links > a {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
}

/* TODO: fix: cursor goes beyond text */
.nav-icons > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
}

.title {
  background-color: black;
  color: white;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 1000;
  height: 2rem;
  padding: 1rem 5rem 0.75rem 5rem;
  font-size: 1.5rem;
}

.main-frame {
  height: 28rem;
}

.content {
  padding: 5rem;
}
.main-frame {
  display: flex;
  justify-content: space-between;
  padding: 0rem 7rem 0rem;
  margin: 2rem 0;
}
.main-frame-text {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quote {
  font-weight: 1000;
  font-size: 3rem;
}
.secondary-quote {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.start-now {
  background-color: black;
  color: white;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0;
  width: fit-content;
  padding: 0.75rem 2.5rem;
}
.plans {
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem 4rem 3rem;
  margin-top: 5rem;
  height: 45rem;
}

.plan {
  width: 45%;
}

.plan-category {
  font-size: 3rem;
  font-weight: 800;
}
.plan-cta {
  font-size: 2rem;
  font-weight: 800;
  background-color: #d9d9d9;
  color: black;
  padding: 2rem;
  width: fit-content;
  border-radius: 5rem;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.plan-cta > img {
  padding: 0 1rem 0 2rem;
}
.free-plan {
  padding: 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plus-plan {
  padding: 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.professionals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 0rem 3rem;
  height: 30rem;
}
.section-title {
  font-size: 2rem;
  font-weight: 800;
}
.professional-component {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  width: 18rem;
  margin: 0.75rem;
}
.frame {
  background-color: #c4c4c4;
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  background-color: white;
}
.profile-picture > img {
  padding: 1rem;
  width: 15rem;
}
.professional-name {
  margin-top: 1.25rem;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.rating > img {
  padding: 0.4rem;
}
/* TODO: change color of scrollbar */
.component-box {
  display: flex;
  flex-direction: row;
  height: 100rem;
  overflow-x: scroll;
}
/* TODO: fix overflow */
.dishes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 0rem 3rem;
  height: 30rem;
}
.dish-component {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  width: 400px;
  margin: 0.75rem;
}
.dish-name {
  margin-top: 1.25rem;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.top-dishes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 0rem 3rem;
  height: 30rem;
}
.dish-photo > img {
  padding: 1rem;
  width: 15rem;
}
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 0rem 3rem;
  margin-top: 5rem;
  height: 18rem;
}
.subscription > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subscription-quote {
  font-weight: 1000;
  font-size: 3rem;
  text-align: center;
  width: 20rem;
}

.secondary-subscription-quote {
  margin: 3rem 0;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.subscription-cta {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 3.5rem;
  background-color: transparent;
  border-color: black;
}

.footer {
    background-color: black;
    height: 25rem;
}
